{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block body %}

<div class="w3layouts-breadcrumbs text-center">
    <div class="container">
        <span class="agile-breadcrumbs"><a href="/"><i
                class="fa fa-home home_1"></i></a> / <span>Anzeige erstellen</span></span>
    </div>
</div>
<!-- //breadcrumbs -->
{% if message %}
    <div class="alert alert-primary" role="alert">
        {{ message }}
    </div>
{% endif %}


<!-- Submit Ad -->
<div class="submit-ad main-grid-border">
    <div class="container">
        <h2 class="w3-head">Eine Anzeige aufgeben</h2>
        <div class="post-ad-form">
            <form action="/post/add" METHOD="POST" enctype="multipart/form-data">
                <label>Wähle eine Kategorie <span>*</span></label>
                <select name="category" class="">
                    {% for cat in categories %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                    {% endfor %}
                </select>
                <div class="clearfix"></div>
                <label>Titel <span>*</span></label>
                <input name="title" type="text" class="phone" placeholder="" required>
                <div class="clearfix"></div>
                <label>Beschreibung <span>*</span></label>
                <textarea name="description" class="mess" placeholder="Schreibe etwas über deine Anzeige" required></textarea>
                <div class="clearfix"></div>
                <label>Preis <span>*</span></label>
                <input name="price" type="text" class="phone" placeholder="" required>
                <div class="clearfix"></div>
                <label>Preis Basis <span>*</span></label>
                <fieldset required>
                    <div class="clearfix"></div>

                    <label for="fixed"> Fixpreis</label>
                    <input type="radio" id="fixed" name="pricingbase" value="fixed" checked>
                    <div class="clearfix"></div>
                    <input type="radio" id="negotiable" name="pricingbase" value="negotiable">
                    <label for="negotiable"> Verhandelbar</label>
                    <div class="clearfix"></div>
                    <input type="radio" id="free" name="pricingbase" value="free">
                    <label for="free"> Zu verschenken</label>

                </fieldset>
                <div class="clearfix"></div>
                <div class="upload-ad-photos">
                    <label>Fotos deiner Anzeige:</label>
                    <div class="photos-upload-view">

                            <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000"/>

                            <div>
                                <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" accept="image/jpeg" required/>
                                <div id="filedrag">oder ziehe deine Bilder hier rein</div>
                            </div>

                        <div id="messages">
                            <p</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <script src="/js/filedrag.js"></script>
                </div>
                <div class="add-post-button">
                    <input type="submit" value="Anzeige erstellen">
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>


{% endblock %}
{% block script %}




{% endblock %}